.container {
  display: flex;
  width: 100%;
  justify-content: center;

  .borderImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 135px;
    border-radius: 30px;
    background-color: rgba(23, 27, 44, 0.7);

    img {
      width: 72%;
      height: 72%;
      border-radius: 12px;

      animation: fadeIn 0.5s ease-in-out;
    }
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .titleWrite {
      font-size: 116px;
      font-weight: normal;
      text-wrap: nowrap;
      letter-spacing: -10px;
    }
    .subtitleWrite {
      font-size: 45px;
      font-weight: normal;
      text-wrap: nowrap;
      position: absolute;
      letter-spacing: -2px;
      top: 135px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
